.create {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 7em;
    letter-spacing: 5px;
    background: linear-gradient(to bottom right, #fff, #9C22ED, #150023);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.create form {
    width: 95%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em 2em;
    /* border: 2px solid var(--text); */
}

.create form .box {
    width: 30%;
    height: auto;
}

.create form .box:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

.create form .box:first-child label {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.create form .box:first-child label .icon {
    font-size: 15em;
    cursor: pointer;
}

.create form .box:first-child img {
    object-fit: cover;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    cursor: pointer;
}

.create form .box:last-child {
    width: 60%;
}

.create form .box:last-child .btnCont {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em 4em;
    border-radius: 5px;
}

.create form .box:last-child .cont {
    width: 100%;
    display: block;
    height: inherit;
}

.create form .box .cont .row {
    margin: 1.5em 0em;
}

.create form .box .cont .row label {
    display: block;
    margin: 0.5em auto;
    font-family: 'Bebas Neue', sans-serif;
    background: linear-gradient(to bottom right, #fff, #9C22ED, #150023);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.create form .box .cont .row input {
    width: 60%;
    height: 3.5em;
    padding: 1em 1.5em;
    box-shadow: 0px 2px 3px 0px rgba(225, 225, 225, 0.5);
    background-color: transparent;
    outline: none;
    border-radius: 7px;
    color: var(--text);
}

.create form .box .cont .row textarea {
    width: 60%;
    height: 12em;
    padding: 1.5em;
    box-shadow: 0px 2px 3px 0px rgba(225, 225, 225, 0.5);
    background-color: transparent;
    outline: none;
    border-radius: 7px;
    resize: none;
    color: var(--text);
}

.create form .box .cont .row .selectInput {
    width: 60%;
}

.create form .box .cont .row .selectInput input {
    box-shadow: none;
}

.create form button {
    border: none;
    outline: none;
    font-family: 'Bebas Neue', sans-serif;
    padding: 0.8em 2em;
    color: var(--text);
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: var(--primary);
}

.create form .cont .row:last-child {
    width: 60%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.create form .cont .row:last-child button {
    padding: 1em 5em;
}



/* MOBILE RESPONSIVENESS */
@media (max-width:768px) {
    .create h1 {
        text-align: center;
    }

    .create form {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2em 2em;
    }

    .create form .box {
        width: 100%;
        height: auto;
    }

    .create form .box .cont {
        padding-top: 2em;
    }

    .create form .box:last-child {
        width: 100%;
    }

    .create form .box .cont .row input,
    .create form .box .cont .row textarea {
        width: 100%;
    }

    .create form .box .cont .row .selectInput {
        width: 100%;
    }

    .create form .cont .row:last-child {
        width: 100%;
    }

}