  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

  * {
    box-sizing: border-box;
    padding: 0% 0%;
    margin: 0% 0%;
    list-style: none;
    text-decoration: none;
  }

  :root {
    font-family: 'DM Sans', sans-serif;
    --bg: #222;
    --text: #fff;
    --primary: #9C22ED;
    --primary2: #150023;
  }

  .container {
    width: 100%;
    height: auto;
    background: var(--bg);
  }

  .container nav {
    width: 100%;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0em 2em;
    color: var(--text);
    gap: 0em 10em;
  }

  .container .logo {
    color: var(--text);
    font-size: 2em;
    font-family: 'Bebas Neue', sans-serif;
  }

  .container .logo span {
    color: var(--primary);
  }

  .container nav ul {
    display: flex;
    align-items: center;
    gap: 0em 3em;
    width: 100%;
  }

  .container nav ul a {
    color: var(--text);
    font-size: 1.2em;
    transition: 500ms ease-in-out;
  }

  .container nav ul a:hover {
    color: var(--primary);
  }

  .container nav button {
    margin-left: auto;
    border: none;
    outline: none;
    font-family: 'Bebas Neue', sans-serif;
    padding: 1.3em 3.2em;
    color: var(--text);
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: var(--primary);
  }

  .container footer {
    width: 100%;
    margin-top: 4em;
    padding: 2em 4em;
    padding-bottom: 1em;
  }

  .container footer .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .container footer ul {
    display: flex;
    gap: 0em 3em;
  }

  .container footer ul li {
    color: var(--text);
    font-size: 1.2em;
    transition: 500ms ease-in-out;
  }

  .container footer ul a {
    color: var(--text);
    transition: 500ms ease-in-out;
  }

  .container footer ul a:hover {
    color: var(--primary);
  }

  .container footer .row:last-child {
    margin-top: 1em;
  }

  .container nav .menu {
    display: none;
  }

  .container nav .close {
    display: none;
  }

  /*  */
  .container .overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
  }
  .container .overlay.active{
   display: flex;
  }
  .container .overlay form {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(225, 225, 225, 0.5);
    padding: 2em 1em;
    position: relative;
  }

  .container .overlay form input {
    width: 100%;
    height: 3.5em;
    padding: 1em 1.5em;
    box-shadow: 0px 2px 3px 0px rgba(225, 225, 225, 0.5);
    background-color: transparent;
    outline: none;
    border-radius: 7px;
    color: var(--text);
  }

  .container .overlay form h2 {
    font-size: 2em;
    font-family: 'Bebas Neue', sans-serif;
    color: var(--primary);
    margin: 0.5em auto;
  }

  .container .overlay form button {
    margin: 2em auto;
    border: none;
    outline: none;
    font-family: 'Bebas Neue', sans-serif;
    padding: 1em 3.2em;
    color: var(--text);
    border-radius: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    background-color: var(--primary);
    z-index: 5;
  }

  .container .overlay .remove{
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 2em;
    color: var(--text);
    cursor: pointer;
  }


  @media (max-width:768px) {

    .container nav {
      width: 100%;
      padding: 0em 1em;
    }

    .container .logo {
      font-size: 1.4em;
    }

    .container nav .menu {
      display: block;
      margin-left: auto;
      font-size: 2em;
      cursor: pointer;
    }

    .container nav ul {
      /*  */
      width: 100%;
      height: 100vh;
      background: var(--bg);
      flex-direction: column;
      align-items: center;
      padding-top: 10em;
      gap: 5em 3em;
      top: 0%;
      left: 0%;
      position: fixed;
      z-index: 9999;
      transform-origin: right;
      transform: translateX(100%);
      transition: 0.5s ease-in-out;
    }

    .container nav ul.active {
      transform: translateX(0%);
    }

    .container nav .close {
      display: block;
      position: absolute;
      top: 3%;
      right: 3%;
      font-size: 3em;
      cursor: pointer;
    }

    .container nav ul a {
      font-size: 2em;
    }

    .container nav button {
      margin: 2em auto;
    }

    .container footer {
      width: 100%;
      margin-top: 4em;
      padding: 2em 1em;
      padding-bottom: 2em;
    }

    .container footer .row {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .container footer ul {
      gap: 3em 3em;
      margin-top: 1.5em;
    }

    .container footer ul li {
      color: var(--text);
      font-size: 1em;
      transition: 500ms ease-in-out;
    }

    .container footer ul a {
      color: var(--text);
      transition: 500ms ease-in-out;
    }

    .container footer ul a:hover {
      color: var(--primary);
    }

    .container footer .row:last-child {
      margin-top: 1em;
    }

  }